:root{
    --green: #17B890;
    --red: #D33F49;
    --black: #090C08;
}
@font-face {
    font-family: "Alexandria";
    src: url(fonts/Alexandria-SemiBold.ttf);
    font-weight: 600;
}
html{
    background-image: linear-gradient(var(--black), #05271e);
    color: var(--green);
    scrollbar-width: none;
    font-family: Alexandria;
}
header{
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
}
header img{
    height: 3.5%;
    margin: -2px 11px;
}
header hr{
    margin-top: -0.5%;
    width: 97%;
    border-color: var(--green);
}
header a{
    color: var(--green);
    text-decoration: none;
}
header a:hover{
    color: #0edaa7;
}
header h1:hover{
    transition-delay: all 0.2s;
    transform: scale(1.1);
    transition: all 0.6s;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}
.container img{
    width: 30%;
}
.container section{
    color: #d8fff5;
    margin: 0 2%;
    padding: 8% 0 8% 2%;
    border-left: white solid 2px;
    height: 100%;
    width: 33%;
}
section h1{
    font-size: 35px;
}
section p{
    font-size: 19px;
}
li{
    float: left;
    list-style-type: none;
    padding: 0 1%;
    font-size: 25px
}
@media only screen and (max-width: 390px){
    header{
        margin-top: 5%;
    }
    header img{
        height: 3.75%;
    }
    header hr{
        margin-top: -5%;
        width: 97%;
        border-color: var(--green);
    }
    .container{
        display: block;
        text-align: center;
        margin: 10%;
    }
    .container img{
        width: 65%;
    }
    .container section{
        color: #d8fff5;
        margin: 0 0%;
        padding: 0%;
        border-left: none;
        height: auto;
        width: auto;
    }
    section h1{
        font-size: 35px;
    }
    section p{
        font-size: 19px;
    }
}